.root {
    -fx-background-color: #1e1e1e;
}

.label {
    -fx-text-fill: #eaeaea;
}

.menu-bar {
    -fx-background-color: #2b2b2b;
}

.context-menu {
    -fx-background-color: #2b2b2b;
}

.menu-item:focused {
    -fx-background-color: #3c3c3c;
}
